.client {
  --badge-background: var(--button-primary-background);
  background-color: var(--vscode-sideBar-background);
  padding: 10px 15px;

  &:not(&:last-of-type) {
    border-bottom: calc(var(--border-width) * 1px) solid var(--divider-background);
  }

  &:not(:only-child):hover {
    color: var(--vscode-list-activeSelectionForeground);
    background-color: var(--vscode-list-activeSelectionBackground);
  }

  &:has(details[open]) .main {
    position: sticky;
    top: 0;
  }
  
  .main {
    background-color: inherit;
    z-index: 1;
    .title {
      display: flex;
      align-items: center;
      margin-bottom: 0;
      font-size: 1em;

      .key {
        text-transform: uppercase;
      }
    }
    .subtitle {
      display: flex;
      align-items: center;
    }
  }
  details summary {
    margin: 1rem 0 0 0;
    position: relative;
    cursor: pointer;
  }
  .tags {
    display: flex;
    justify-content: flex-end;
    
    & > * {
      margin-right: 1rem;
    }
    .tag, .tag span {
      text-transform: capitalize !important;
      color: var(--button-primary-foreground);
    }
  }
  .links {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding: 0.5rem;
    gap: 0.5rem;
    margin-bottom: 1rem;

    .heading {
      margin-bottom: 0.25rem;
      width: 100%;
    }

    .link {
      flex-basis: 25%;
      .codicon {
        margin: 0 0.25rem;
        font-size: 0.75rem;
      }
    }
  }
  .details-grid {
    vscode-data-grid-row {
      font-size: 10px;
    }
  }
  .actions {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    padding-top: 15px;
    
    img, svg, image, .codicon {
      font-size: 24px;
      color: var(--vscode-editor-foreground, #abb2bf);
      width: 1em;
      height: 1em;
    }
  }
  .details {
    margin-top: 0.5rem;
  }
  vscode-divider {
    display: block;
    margin-top: 2rem;
  }

  &:last-of-type vscode-divider {
    display: none;
  }
}