.client {
  --badge-background: var(--button-primary-background);
  background-color: var(--vscode-sideBar-background);
  padding: 10px 15px;
  view-transition-name: var(--client-transition-name);

  &:not(&:last-of-type) {
    border-bottom: calc(var(--border-width) * 1px) solid var(--divider-background);
  }

  &:not(:only-child):hover {
    color: var(--vscode-list-activeSelectionForeground);
    background-color: var(--vscode-list-activeSelectionBackground);
  }

  &:has(details[open]) .main {
    position: sticky;
    top: 0;
  }

  .pin-button {
    float: right;
    cursor: pointer;
    color: var(--vscode-search-resultsInfoForeground, #cccccca6);
  }
  
  .main {
    background-color: inherit;
    z-index: 1;
    
    .title, .subtitle {
      display: flex;
      gap: 6px;
      align-items: center;
      margin-bottom: 0;
      
      &.title {
        font-size: 1em;
      }

      .key {
        text-transform: uppercase;
      }

      .admin-domain {
        color: inherit;
        width: 22px;
        aspect-ratio: 1;
        margin-bottom: -8px;
      }
    }
  }
  details summary {
    margin: 1rem 0 0 0;
    position: relative;
    cursor: pointer;
  }
  .tags {
    display: flex;
    justify-content: flex-end;
    
    & > * {
      margin-right: 1rem;
    }
    .tag, .tag span {
      text-transform: capitalize !important;
      color: var(--button-primary-foreground);
    }
  }
  .details-grid {
    vscode-data-grid-row {
      font-size: 10px;
    }
  }
  .actions {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    padding-top: 15px;
    
    img, svg, image, .codicon {
      font-size: 24px;
      color: var(--vscode-editor-foreground, #abb2bf);
      width: 1em;
      height: 1em;

      &.codicon-play-circle {
        font-size: 2.15em;
      }
    }

    .links {
      position: relative;

      .links-container {
        display: none;
        flex-direction: column;
        align-items: flex-end;
        position: absolute;
        top: 30px;
        right: -15px;
        min-width: calc(100vw - 40px);
        z-index: 1;
        background-color: var(--vscode-list-activeSelectionBackground,  transparent);
        padding: 10px;

        .link {
          font-size: 1rem;
          padding: 0.25rem 0.5rem;

          .codicon {
            margin: 0 0.25rem;
            font-size: 0.75rem;
          }
        }

      }

      &:hover {
        .links-container {
          display: flex;
        }
      }
    }
  }
  .details {
    margin-top: 0.5rem;
  }
}