#search-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  
  #search-input {
    margin: 10px 0 10px 10px;
    flex: 1;
  }
  
  #search-button {
    width: 4rem;
    margin: 10px 10px 10px 0;
  }
}

#loader, #no-results {
  display: flex;
  align-items: center;
  margin: 0.75rem 0;
}

#loader vscode-progress-ring {
  margin: 0 0.5rem;
}

.results-container {
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 100%;

  .results-details {
    padding: 0px 15px 8px 15px;
    .count {
      color: #cccccca6;
    }
  }

  vscode-progress-ring {
    align-self: center;
    margin: 50px;
  }

  #clients {
    overflow-y: overlay;
    height: calc(100% - 75px); // header height
  }
}





// .results-container *[data-value]:not(vscode-button[appearance="icon"]) {
//   /* visibility: hidden; */
// }

// .results-container *[data-value]:not(vscode-button[appearance="icon"]):not(vscode-link):after {
//   content: attr(data-value);
// }
// .results-container .title [data-field="key"] {
//   text-transform: uppercase;
// }
// .results-container .title [data-field="name"] {
//   text-transform: capitalize;
// }

