#search-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  
  #search-input {
    margin: 10px 0 10px 10px;
    flex: 1;
  }
  
  #search-button {
    width: 4rem;
    margin: 10px 10px 10px 0;
  }
}

#loader, #no-results {
  display: flex;
  align-items: center;
  margin: 0.75rem 0;
}

#loader vscode-progress-ring {
  margin: 0 0.5rem;
}

.results-container {
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 100%;

  .results-details {
    display: flex;
    padding: 0px 15px 8px 15px;
    .count {
      color: var(--vscode-search-resultsInfoForeground, #cccccca6);
    }
  }

  vscode-progress-ring {
    align-self: center;
    margin: 50px;
  }

  #clients {
    overflow-y: auto;
    height: 100%;
    
    &::-webkit-scrollbar-track {
      background: transparent;
    }
    
    &::-webkit-scrollbar-thumb {
      background-color: rgba(121, 121, 121, 0);
      border-radius: 0;
      transition: background-color 0.3s ease;
    }
    
    &:hover::-webkit-scrollbar-thumb {
      background-color: var(--vscode-scrollbarSlider-background, rgba(121, 121, 121, 0.4));
    }
    
    &::-webkit-scrollbar-thumb:hover {
      background-color: var(--vscode-scrollbarSlider-hoverBackground, rgba(100, 100, 100, 0.7));
    }

    &::-webkit-scrollbar-button {
      display: none;
    }
    
    scrollbar-color: transparent transparent;
    transition: scrollbar-color 0.3s ease;
    
    &:hover {
      scrollbar-color: var(--vscode-scrollbarSlider-background, rgba(121, 121, 121, 0.4)) transparent;
    }
  }
}

article {
  display: flex;
  flex-direction: column;
  height: 100%;

  main {
    flex: 1;
  }

  footer {
    margin: 8px;
    padding: 2px;
    border: 1px solid var(--vscode-panel-border, #3c3c3c);
    background-color: var(--vscode-panel-background, #252526);
    border-radius: 4px;
    overflow: visible;

    .client .actions .links .links-container {
      top: unset;
      bottom: 30px;
      border-radius: 5px;
    }

    &:has(.client details[open]) {
      overflow-y: auto;
    }
  }
}





// .results-container *[data-value]:not(vscode-button[appearance="icon"]) {
//   /* visibility: hidden; */
// }

// .results-container *[data-value]:not(vscode-button[appearance="icon"]):not(vscode-link):after {
//   content: attr(data-value);
// }
// .results-container .title [data-field="key"] {
//   text-transform: uppercase;
// }
// .results-container .title [data-field="name"] {
//   text-transform: capitalize;
// }

